p{
    color: white;
}

.backgroundVerde{
    background: #2f9e41;
}

.backgroundCinza{
    background: #e9ecef;
}

.formAuthentication{
    margin-top: 30vh;
    margin-bottom: 20vh;
}

.form-group{
    margin-bottom: 3vh;
    width: 100%;
}

.buttonFinalizar{
    width: 35%;
    margin: 7.5%;
}

.group-button{
    display: flex;
}

.bg-dark{
    box-sizing: border-box;
    height: 10vh;
}

.blackg{
    text-align: center;
    width: 100%;
    padding-top: 1.5vh;
    font-weight: bold;
}

.logo{
    margin: 0;
    position: absolute;
    top: -25%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

a:link, a:visited {
    text-decoration: none;
    color: rgb(255, 255, 255)
	}
a:hover {
	text-decoration: underline; 
	color: black
	}
a:active {
    color: black;
	text-decoration: none
    }
    
.redefinirSenha{
    color: white
}

.labelInformativo{
    margin: 15px
}

.textoBranco{
    color: white
}